<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Exclude real files and directories from rewriting
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite all other URLs to index.html
  RewriteRule ^ index.html [L]
</IfModule>